name: Documentation

on:
  push:
    branches:
      - master
      - doxygen
    tags:
      - 'v*'

permissions:
  contents: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Install Doxygen
        uses: ssciwr/doxygen-install@v1.6.4
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends meson nasm
      - name: Build documentation
        run: |
          meson setup build -Ddocs=enabled
          cd build && meson compile docs
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/docs/html
          destination_dir: ${{ github.ref_name }}
          keep_files: true
